
#alert {
	width: 500px;
	margin-left: 25%;
	border-radius: 15px;
	text-align: center;
}

#form_local {
	margin-left: 20px;
}

#navlogin {
	margin-right: 15px;
	
	.a {
	margin-right: 10px;
	color: white;
	}
	
	.button {
	color: white;
	border-color: white;
	}
}


